<footer>
    <div class="footer-content">
      <div class="footer-info">
        <p class="footerPC">PAW CARE</p>
        <p>Dirección: Calle Ejemplo #123, Bogotá, Colombia</p>
        <p>Teléfono: +57 123 456 789</p>
        <p>Email: contacto@pawcare.com</p>
      </div>
      <div class="footer-social">
        <a href="https://www.facebook.com/tuempresa" target="_blank" title="Facebook">
          <img class="iconoFooter" src="assets/img/facebookIcon.png" height="50" />
        </a>
        <a href="https://www.instagram.com/tuempresa" target="_blank" title="Instagram">
          <img class="iconoFooter" src="assets/img/instagramIcon.png" height="50" />
        </a>
        <a href="https://www.twitter.com/tuempresa" target="_blank" title="Twitter">
          <img class="iconoFooter" src="assets/img/twitterIcon.png" height="50" />
        </a>
      </div>
      <div class="footer-credits">
        <p>&copy; 2024 PAW CARE. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>
  