/* Estilos generales */
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #006157;
  display: flex;
  align-items: center;
  justify-content: center; /* Centra todo el contenido del header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0;
  box-sizing: border-box;
  z-index: 10000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido dentro del header-content */
  width: 100%;
  max-width: 1450px; /* Ajusta el ancho máximo según sea necesario */
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Espacio entre el logo y la navegación */
}

.logoHeader {
  width: 100px;
  height: 100px;
  margin: 0;
}

.logo h1 {
  margin: 0;
  padding-left: 20px; /* Espacio entre el logo y el texto */
  color: white;
  font-size: 40px;
  font-weight: bold;
}
/* BARRA DE NAVEGACIÓN */
nav {
  display: flex;
  justify-content: center; /* Centra los enlaces dentro del nav */
  align-items: center;
}

nav a {
  display: flex;
  align-items: center;
  margin: 0 5px;
  color: white;
  text-decoration: none;
  font-size: 13.5px;
  padding: 10px 10px;
}
/* FOOTER */
footer {
  background-color: #006157; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-bottom: 0;
  align-self: bottom;
}

.iconoFooter {
  margin: 5px;
  text-decoration: none; /* Quita el subrayado del texto */
  height: 40px;
  width: 40px; 
}

/* FOOTER HORIZONTAL */
/* 
.footer-social {
  flex: 1; 
  display: flex; 
  justify-content:flex-end;
  align-items: start; 
}

.footer-info {
  flex: 1; 
  text-align: left; 
}
*/
.footer-info p{
  margin: 5px;
}

.foorterPC{
  font-weight: 700;
  margin-top: 0;
}

.footer-credits p{
  width: 100%;
  background-color: #004d40;
  margin: 0;
  padding: 5px 0 5px 0;
  position: absolute;
}

/* BODY Y OTROS*/
html,
body {
  margin: 0; /* Elimina el margen por defecto */
  padding: 0; /* Elimina el padding por defecto */
}

h1 {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase; 
  color: #333333;
}

h2 {
  font-size: 30px;
  color: #333333;
}

p {
  color: #333333;
}

footer p {
  color: white;
}

button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #006157;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #004d40; /* Cambia el color al pasar el ratón */
}

.btn-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #ffffff12;
    border-radius: 20px;
    margin-left: 20px;
}

.btnsignup,
.btnlogin {
  margin-left: 0;
  margin-right: 0;
  width: 95px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btnsignup{
    background-color: #ffffff;
    color: #004d40;
    font-weight: bold;
}

.btnlogin {
    width: 100px;
}

.container {
  display: flex;
  height: calc(100vh - 150px); /* Resta la altura del header */
}
/* CONTENIDO */
.content {
  margin-top: 90px; /* Igual a la altura del header */
  margin-left: 0;
  margin-right: 0;
}

.overlay{
  position: absolute;
  bottom: 5%;
  left: 10%;
  transform: translate(-10%, -20%);
  color: white;
  text-align: center;
  z-index: 2;
  width: max-content;
  justify-content: left;
}

.overlay h1{
  margin: 0px;
  justify-content: left;
}

.overlay p{
  margin-left: 2px;
  color: white;
  justify-content: left;
  text-align: left;
}

.textoBienvenida{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 200;
}

.textoBienvenidaPC{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  text-align: left;
  border-color: red;
}

*{
  font-family: 'Poppins', sans-serif;
}