/* ESPECIFICO DE LISTADOS */
.listado {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 15px;
}
.tabla {
  padding: 10px;
  width:95%;
  border-collapse: collapse;
  margin: 20px;
  font-size: 18px;
  text-align: left;
  border: 1px solid #ddd; 
  border-radius: 20px;
  margin: 0 auto; /* Centra la tabla */
}
.tabla th,
.tabla td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.tabla th {
  background-color: #006157; /* Color de fondo verde para encabezados */
  color: white;
}
.tabla tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tabla tr:hover {
  background-color: #ddd;
}
tr{
  font-size: 15px
}
th {
  text-align: left;
  font-size: 18px;
}

.tdBotones{
  text-align: right;
}

.btnDetalles {
    background-color: #006157;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.btnEditar {
    background-color: #01443e;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.btnEliminar {
  background-color: #860400;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}
.btnAgregar {
  margin-bottom: 15px;
    background-color: #04aa6d;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}
.btnlogin{
  width: 40px;
  padding-left: 20px;
}

.btnlogin a{
  padding-left: 20px;
}
.btnCerrar{
  background-color: #ffffff;
  color: #004d40;
  font-weight: bold;
  border-radius: 20px;
}