<header>
  <div class="header-content">
    <div class="logo">
      <img src="assets/img/LogoClaro.png" class="logoHeader" />
      <h1>PAW CARE</h1>
    </div>
    <nav>
      <a routerLink="/" fragment="">INICIO</a>
      <a routerLink="/" fragment="serv">SERVICIOS</a>
      <a routerLink="/" fragment="gal">GALERIA DE PERROS</a>
      <a routerLink="/" fragment="cont">CONTACTANOS</a>
      <div class="btn-container">
        <a class="btnlogin" routerLink="/clinica">Iniciar Sesión</a>
        <a class="btnsignup" routerLink="/cliente/registro">Registrarse</a>
      </div>
    </nav>
  </div>
</header>
