<main class="contentContacto">
  <section class="clinic">
      <h1>ENCUENTRANOS</h1>
      <div class="clinic-info">
          <div class="clinic-contact">
              <h2>Informacion de contacto</h2>
              <p>Si necesitas información adicional o tienes dudas:</p>
              <div class="contact-details">
                  <img src="assets/img/iconoCorreo.png" alt="Email Icon" class="icon">
                  <a href="mailto:contacto@pawcare.com">contacto@pawcare.com</a>
              </div>
              <div class="contact-details">
                  <img src="assets/img/iconoTelefono.png" alt="Phone Icon" class="icon">
                  <a href="tel:+5712345678">+57 1 234 5678</a>
              </div>
          </div>
          <div class="clinic-location">
              <h2>Ubicacion y Horarios</h2>
              <div class="location-details">
                  <img src="assets/img/iconoUbicacion.png" alt="Location Icon" class="icon">
                  <p>Estamos ubicados en la Calle Ejemplo 123 en Bogotá, Colombia.</p>
              </div>
              <div class="location-details">
                  <img src="assets/img/iconoReloj.png" alt="Clock Icon" class="icon">
                  <p>Abiertos de 9 a.m a 6 p.m entre semana, 9 a.m a 2 p.m los sabados, los domingos no prestamos servicio al publico.</p>
              </div>
          </div>
      </div>
  </section>
  
  <section class="contact">
      <h1>CONTACTANOS</h1>
      <form id="contact-form" class="contact-form">
          <input type="text" id="name" name="name" placeholder="Nombre" required />
          <input type="email" id="email" name="email" placeholder="Correo" required />
          <input type="text" id="subject" name="subject" placeholder="Asunto" required />
          <textarea id="message" name="message" rows="5" placeholder="Mensaje" required></textarea>
          <button type="submit">Send Message</button>
      </form>
  </section>
</main>
  