  /*----------------------------------------------------------------------------------------------------------------------------------------------------*/
  /* ESPECIFICO DE INICIO DE SESIÓN */
form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espacio entre los elementos del formulario */
  margin: 0 auto; /* Centra el formulario en la página */
  width: 350px;
  padding-bottom: 10px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
  color: #888; /* Color del texto del placeholder */
  font-style: italic; /* Estilo del texto del placeholder */
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #006157;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  width: 350px;
  margin: 0 auto;
}

button:hover {
  background-color: #004d40; /* Color de fondo al pasar el mouse */
}

span {
  margin: 0 auto;
}

span a {
  color: #379ae6;
  text-decoration: underline;
}

.mascot-image {
  flex: 1;
}

.right-section {
  flex: 2; /* Ocupa 2/3 del ancho */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-section {
  flex: 1; /* Ocupa 1/3 del ancho */
  background-color: #f0f0f0; /* Fondo claro opcional */
  display: flex;
  justify-content: center;
  align-items: center;
}
.txtIniciarSesion {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  margin: 0 auto; /* Centra el formulario en la página */
}
.titulo{
  text-align: center;
  padding-top: 1px;
}
span {	
  margin: 0 auto;
}
.registroUsuario {
  text-align: center;
  justify-content: center;
  padding-top: 2.5%;
  margin: 10%;
}

.error a{
  
  text-align: center;
  justify-content: center;
}