<main class="content">
    <div class="info">
        <h1>Dashboard Administrador</h1>
    </div>
    <div class="dashboard">
      <div class="dashboard-container">
        <a routerLink="/mascotas"> <img class="imagenDashboard" src="assets/img/iconoPerro.png" alt="Mascotas">MASCOTAS</a>
      </div>

      <div class="dashboard-container">
        <a routerLink="/clientes"> <img class="imagenDashboard" src="assets/img/iconoCliente.png" alt="Clientes"> CLIENTES</a>
      </div>

      <div class="dashboard-container">
        <a routerLink="/veterinarios"> <img class="imagenDashboard" src="assets/img/iconoVeterinario.png" alt="Veterinarios"> VETERINARIOS</a>
      </div>

    </div>
</main>