<section class="servicios">
    <h1>SERVICIOS QUE OFRECEMOS</h1>
    <img src="/assets/img/pica.png" class="overlayPica">
    <img src="/assets/img/diamante.png" class="overlayDiamante">
    <img src="/assets/img/corazon.png" class="overlayCorazon">
    <img src="/assets/img/trebol.png" class="overlayTrebol">
    <div class="servicios-container">
      <div class="servicios-box">
        <img src="/assets/img/iconoCollar.jpg" alt="Adopción" />
        <h2>ADOPCION</h2>
        <p>Encontramos hogares amorosos para mascotas en busca de una nueva familia.</p>
        <a routerLink="/servicios">Más Información</a>
      </div>
      <div class="servicios-box">
        <img src="/assets/img/vacuna.png" alt="Vacunación" />
        <h2>VACUNACIÓN</h2>
        <p>Ofrecemos un completo servicio de vacunación para mantener a tus mascotas saludables.</p>
        <a routerLink="/servicios">Más Información</a>
      </div>
      <div class="servicios-box">
        <img src="/assets/img/corazonPerro.png" alt="Cuidado de Mascota" />
        <h2>CUIDADO</h2>
        <p>Brindamos atención especializada para tus mascotas, asegurando el mejor tratamiento.</p>
        <a routerLink="/servicios">Más Información</a>
      </div>
    </div>
  </section>
  