  .mascota-edit-container {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-bottom: 25px;
  }
  
  .mascota-info-edit {
    flex: 1; 
  }
  
  .mascota-detail {
    flex: 2;
  }

  .mascota-detail {
    padding-left: 0px;
  } 

  form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 0 auto;
    width: 85%; 
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: center;
  }
  
  input[type="text"],
  input[type="number"],
  select[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%; 
  }
  
  .botonGuardar,
  .botonCancelar {
    width: 100%; 
    padding: 10px 20px;
    font-size: 16px;
    border: 0;
    color: white;
    border-radius: 100px;
    cursor: pointer;
  }
  
  .botonGuardar {
    background-color: #006157;
  }
  
  .botonCancelar {
    background-color: #860400;
  }
  
  .botones {
    display: flex;
    gap: 10px; 
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    color: #333;
  }
  
  input,
  select {
    margin-bottom: 10px;
    width: 100%;
  }
  