.contentContacto {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    margin-top: 90px; /* Igual a la altura del header */
    margin-left: 0;
    margin-right: 0;
}

.clinic, .contact {
    flex: 1;
    padding: 20px;
}

.clinic h2{
    margin-top: 10px;
}

.clinic h1, .contact h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    position: relative;
}

.clinic h1::after, .contact h1::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #008779;
    margin: 10px auto;
}

.clinic-info {
    margin-top: 20px;
}

.clinic-contact, .clinic-location {
    margin-bottom: 30px;
}

.contact-details, .location-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-details img, .location-details img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-details a, .location-details p {
    font-size: 16px;
    color: #333;
}

.location-details p {
    margin: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 400px;
    margin: 0 auto;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button {
    background-color: #006157;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #00584f;
}

.contact, .contentContacto h1{
    font-weight: 600;
}