.mascota {
  padding: 100px 100px 100px 100px;
  text-align: left;
}

.mascota-info div {  
  margin: 50px 100px 50px 100px;
}

.mascota-info {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mascota-info div {
  background-color: #ffffff; /* Blanco */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
}

.mascota-info h2 {
  font-size: 30px;
  color: #006157; /* Verde azulado */
  margin-bottom: 10px;
  margin-top: 0px;
}

.mascota-info p {
  font-size: 20px; /* Negro */
}


.imagenMascota {
  width: 350px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  float: inline-start;
  margin-right: 40px;
  border-color: black;
  border-radius: -5px;
}

.btnCerrar{
  background-color: #ffffff;
  color: #004d40;
  font-weight: bold;
  border-radius: 20px;
}

.btnlogin{
  width: 40px;
  padding-left: 20px;
}

.btnlogin a{
  padding-left: 20px;
}