    <main class="content">
        <ng-container *ngIf="mascota">
            <section class="macotaCLASS">
                <div class="mascota-info">
                    <div>
                        <h1>Detalles de mascota</h1>
                        <img src="{{mascota.imagen}}" class="imagenMascota">
                        <p>ID: {{mascota.id}}</p>
                        <p>Nombre: {{mascota.nombre}}</p>
                        <p>Peso: {{mascota.peso}}kg</p>
                        <p>Raza: {{mascota.raza}}</p>
                        <p>Enfermedad: {{mascota.enfermedad}}</p>
                        <p>Estado: {{mascota.estado}}</p>
                        <p>Edad: {{mascota.edad}}</p>
                    </div>
                </div>
              </section>
            </ng-container>
      </main>
