.container {
  display: flex;
  width: 100%; 
  height: 100%;
}

.left-section {
  flex: 1; /* Toma 1/3 del espacio disponible */
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.right-section {
  flex: 2; /* Toma 2/3 del espacio disponible */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.left-section img {
  width: 100%; /* La imagen ocupa todo el ancho */
  height: 100%; /* La imagen ocupa toda la altura */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 350px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
}

button {
  padding: 10px;
  border: none;
  background-color: #006157;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100px;
  width: 350px;
  margin: 0 auto;
}

button:hover {
  background-color: #004d40;
}

span {
  text-align: center;
}

span a {
  color: #379ae6;
  text-decoration: underline;
}
