<h1>LISTA DE MASCOTAS</h1>
<div class="boton-agregar">
    <a routerLink="/mascota/form">
        <button class="botonAgregar">Agregar Mascota</button>
    </a>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Peso</th>
            <th>Raza</th>
            <th>Enfermedad</th>
            <th>Estado</th>
            <th>Edad</th>
            <th>Acciones</th> 
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mascota of mascotaList">
            <ng-container>
                <td>{{mascota.nombre}}</td>
                <td>{{mascota.peso}}kg</td>
                <td>{{mascota.raza}}</td>
                <td>{{mascota.enfermedad}}</td>
                <td [ngClass]="{
                    'verde': mascota.estado === 'Recuperado',
                    'amarillo': mascota.estado === 'En observación',
                    'rojo': mascota.estado === 'En tratamiento'
                  }">
                  {{mascota.estado}}</td>
                <td>{{mascota.edad}}</td>
                <td class="botones">
                    <a routerLink="/mascota/detail/{{mascota.id}}"><button class="botonDetalle">Ver Detalles</button></a>
                    <a routerLink="/mascota/edit/{{mascota.id}}"><button class="botonEditar">Editar</button></a>
                    <button class="botonEliminar" (click)="eliminarMascota(mascota)">Eliminar</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>

